<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header confirm-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
Confirmació</h4>
      </div>
      <div class="modal-body">
        <p>Estas segur que vols eliminar aquesta consulta?</p>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" ng-click="close('Yes')" class="btn btn-danger" data-dismiss="modal" style="background-color: #E9633A;">Si</button>
        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>        
      </div>
    </div>
  </div>
</div>
