<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header confirm-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
Votació</h4>
      </div>
      <div class="modal-body text-center">
        <p>No estàs autoritzat per votar. Has de tenir almenys 16 anys per poder votar.</p>
      </div>
      <div class="modal-footer confirm-footer">
        <button type="button" ng-click="close('Yes')" class="btn btn-danger" data-dismiss="modal" style="background-color: #E9633A;">OK</button>
               
      </div>
    </div>
  </div>
</div>