<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header message-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
Votació</h4>
      </div>
      <div class="modal-body text-center">
        <p>El teu vot s'ha enviat</p>
      </div>
      <div class="modal-footer message-footer">
        <button type="button" ng-click="close('Yes')" class="btn btn-primary opened" data-dismiss="modal" >OK</button>
      </div>
    </div>
  </div>
</div>