<md-dialog aria-label="Preguntes freqüents" class ="info-dialog">
 
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Preguntes freqüents</h2>

        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons">clear</i>
          </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div style ="margin:15px;padding:10px;" class ="info-content">
            <p><b>QUÈ DECIDIM?</b></p>
            <p>Estem decidint el destí de 60.000€ del pressupost municipal d’inversions.
            </p>
            <p><b>QUI POT VOTAR?</b></p>
            <p>Poden votar totes les <b>persones que hagin complert els 16 anys abans del 5
                    de maig de 2018 i que estiguin empadronades a Cassà de la Selva abans
                    d’aquesta data.</b>
            </p>
                

            <p><b>QUI HA FET LES PROPOSTES QUE ARA VOTEM?</b></p>
            <p>Totes les persones que viviu i/o treballeu a Cassà de la Selva heu tingut
                    l’oportunitat de proposar les idees i projectes en matèria d’inversions que heu
                    cregut més convenients pel poble (el període per presentar propostes va
                    començar el dia 12 de febrer i va finalitzar el dia 4 de març).</p>
            <p>Les propostes rebudes (160 en total) es van analitzar tècnicament.
                    Posteriorment, en una jornada participativa oberta a tothom, es van triar els 12
                    projectes que ara posem a votació (aquest taller es va fer el dilluns 16 d’abril a
                    les 20:00h a l’espai jove l’Escorxador, i varen assistir-hi més de 50 persones).
            </p>
            

            <p><b>QUÈ NECESSITO PER VOTAR?</b></p>
            <p>Només necessiteu introduir el número de DNI (8 dígits+lletra) o, en el cas de no
                    tenir-ne, la targeta de residència (X, Y o Z +7 dígits+lletra) o el passaport (si no
                    teniu DNI o NIE caldrà posar el número de passaport tal i com es va entrar en
                    el registre d’empadronament de l’Ajuntament). També haureu d’indicar la vostra
                    data de naixement.<p>
                            
                            
            <p><b>FINS QUAN ES POT VOTAR?</b></p>
            <p>El període per votar <b>començarà el dilluns dia 4 de juny i finalitzarà el
                    diumenge dia 24 de juny 2018 (ambdós inclosos).</b><p> 
            <p><b>COM PUC VOTAR?</b></p>                                   
            <p>Podeu votar a través d’aquest portal web mitjançant qualsevol dispositiu
                    electrònic (mòbil, tauleta, ordinador, etc.) amb connexió a Internet<p> 
            <p>També podeu votar físicament mitjançant la butlleta que us hem fet arribar a la
                    vostra llar dipositant-la als punts habilitats per votar:<p>
            <ul>
                <li>Ajuntament (Can Nadal)</li>
                <li>Centre Cultural Sala Galà</li>
                <li>Piscina Coberta></li>
            </ul>
            <p><i><b>Nota:</b></i> podeu trobar més butlletes físiques al costat de les urnes habilitades per
                votar.</p>

                
            <p><b>QUANTES PROPOSTES PUC VOTAR?</b></p>                                   
            <p>De les 12 propostes que han passat a la fase de votació final en <b>podeu votar 3
                    com a màxim (les que vulgueu).</b>
                    <p>   
                            
                                  
            <p><b>QUINA O QUINES PROPOSTES S’EXECUTARAN?</b></p>                                   
            <p> S’executarà la proposta més votada, i després la resta de propostes amb major
                    nombre de vots, sempre i quan la suma total no excedeixi els 60.000€.<p> 
               
                            
                            
           <p><b>PUC VOTAR MÉS D’UNA VEGADA?</b></p>                                   
           <p>Totes les persones amb dret a vot només podran votar una sola vegada. Si
                voteu online i també dipositeu una butlleta física a les urnes habilitades per
                votar presencialment únicament valdrà el vot emès a traves d’Internet. Si
                dipositeu més d’una butlleta física a les urnes només es comptarà el vot de la
                primera que sigui comptabilitzada (sempre i quan no s’hagi votat a través
                d’Internet). Si voleu votar dues vegades a través d’Internet el sistema no us
                deixarà. Suplantar la identitat d’altri a l’hora d’emetre un vot és un delicte.<p> 
          

                        
            <p><b>LES MEVES DADES SÓN CONFIDENCIALS?</b></p>   
            <p>Tant el vot com les dades del padró són confidencials. Només s’utilitzarà el
                    número de document d’identitat i la data de naixement per comprovar
                    l&#39;empadronament.
            </p>  
            <p>D’acord amb el que disposa la Llei orgànica de protecció de dades de caràcter
                    personal (LOPD), us informem que les dades consignades a l’hora d’emetre el
                    vot s’incorporaran en un fitxer creat per l’Ajuntament de Cassà de la Selva amb
                    la finalitat de recollir les votacions d’aquest procés participatiu. Per exercir els
                    drets d’accés, rectificació, cancel·lació i oposició previstos a la Llei us podeu
                    adreçar presencialment a l’Ajuntament Cassà de la Selva, Rambla Onze de
                    setembre, 111, 17244 Cassà de la Selva.</p> 
        </div>

 



 



 



 


 


 



     
    </md-dialog-content>

  <!-- <md-dialog-actions layout="row">
      <md-button ng-click="closeDialog()">Tancar</md-button>
    </md-dialog-actions>-->
    
 
</md-dialog>
