

<md-dialog aria-label="Instruccions">
 
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Instruccions</h2>

        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons">clear</i>
          </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
          <md-list  ng-cloak style ="padding: 15px;">

  
		  <md-list-item style ="padding-bottom: 15px;">
		  		<i class="material-icons" style="font-size:12px; margin-right:15px;">brightness_1</i>
			 	<p>Per obtenir més informació sobre una proposta clica el nom de la proposta. </p>
		  </md-list-item>

		  <md-list-item style ="padding-bottom: 15px;">
		  		<i class="material-icons" style="font-size:12px; margin-right:15px;">brightness_1</i>
		   				 <p>Per seleccionar una proposta fes clic al cercle. Veuràs que la imatge s’il·lumina (pots seleccionar un màxim de 3 propostes)</p>
		  </md-list-item>

		  <md-list-item style ="padding-bottom: 15px;">
		  		<i class="material-icons" style="font-size:12px; margin-right:15px;">brightness_1</i>
		   				 <p>Una vegada seleccionades les propostes ves al final de la pàgina i clica la icona VOTAR</p>
		  </md-list-item>

		  <md-list-item style ="padding-bottom: 15px;">
		  		<i class="material-icons" style="font-size:12px; margin-right:15px;">brightness_1</i>
		   				 <p> Introdueix el teu DNI (8 dígits + lletra sense espais ni guions) o NIE (X, Y o Z + 7 dígits + lletra sense espais ni guions) i la teva data de naixement.
		 </p>
		  </md-list-item>

		  <md-list-item style ="padding-bottom: 15px;">
		  		<i class="material-icons" style="font-size:12px; margin-right:15px;">brightness_1</i>
		   				 <p>Si tot és correcte veuràs el següent missatge: “Identificació realitzada correctament. El teu vot s’ha emès”. </p>
		  </md-list-item>

		 

		  
		</md-list>
     
    </md-dialog-content>

  <!-- <md-dialog-actions layout="row">
      <md-button ng-click="closeDialog()">Tancar</md-button>
    </md-dialog-actions>-->
    
 
</md-dialog>

<!--<i class="material-icons">priority_high</i>-->

